<script setup lang="ts">
import {ref} from "vue"; 
const message = ref("Hello World!");
const isRed = ref(true);
const color = ref("green");
function toggleRed() {
    isRed.value = !isRed.value;
}
function toggleColor() {
    color.value = color.value === "green" ? "blue" : "green";
}

</script>

<template>
    <p>
        <span :title="message">
            Hover your message over me for a few seconds to see my dynamically bound title!
        </span>
    </p>
    <p :class="{red:isRed}" @click="toggleRed">
        <span title="message">
            This should be red... but click me to toggle it.
        </span>
    </p>
    <p :style={color}>
        <span title="message" @click="toggleColor">
            This should be green... but click me to toggle it.
        </span>
    </p>
</template>

<style scoped>
.red{
    color: red;
}
</style>